<div class="container-fluid">
    <div class="row">
        <app-menu class="col-md-2 col-sm-1 no-padding all fixed-menu">
        </app-menu>
        <div class="col-md-10 col-sm-11 no-padding all fixed-content">
            <header class="main-header blk" id="top">
                <h1 class="in-blk">Pacotes</h1>
            </header>
            <div class="main-content"
                 *ngIf="!showForm">
                  <div *ngIf="!hasPackagesToShow()">
                      <div class="alert alert-warning" role="alert">
                        <strong>Atenção!</strong>
                        Você ainda não possui nenhuma categorias.
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-10 col-md-10"
                           *ngIf="hasPackagesToShow()">
                          <input type="text"
                                 class="form-control"
                                 [(ngModel)]="packageFilter.title"
                                 placeholder="Buscar...">
                      </div>
                      <div class="col-sm-2 col-md-2">
                          <button type="button"
                                  (click)="newPackage()"
                                  class="btn btn-success blk addpackage">
                              Adicionar novo pacote
                          </button>
                      </div>
                  </div>
                  <br>
                  <br>
                  <table class="table"
                         *ngIf="hasPackagesToShow()">
                      <thead>
                          <tr>
                              <th scope="col">Imagem</th>
                              <th scope="col">Pacote</th>
                              <th scope="col">Valor</th>
                              <th scope="col">Status</th>
                              <th scope="col" width="50">Editar</th>
                              <th scope="col" width="50">Excluir</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let package of packages | filterBy: packageFilter">
                              <td>
                                  <div class="table-content-image">
                                      <img [src]="package.image || 'http://placehold.it/470x350'">
                                  </div>
                              </td>
                              <td>{{ package.title }}</td>
                              <td>R$ {{ package.value }},00</td>
                              <td>{{ package.status }}</td>
                              <td class="text-center">
                                  <a (click)="edit(package.id)"
                                     class="edit">
                                      <i class="fa fa-edit"></i>
                                  </a>
                              </td>
                              <td class="text-center">
                                  <a (click)="remove(package.id)"
                                     class="remove">
                                      <i class="fa fa-times"></i>
                                  </a>
                              </td>
                          </tr>
                      </tbody>
                  </table>
            </div>

            <div class="main-content"
                 *ngIf="showForm">
                <form [formGroup]="formPackage" (ngSubmit)="addUpdatePackage()">
                <div *ngIf="errorMsg != null" class="alert alert-danger" role="alert">
                    <strong>Whoops!</strong>
                    {{ errorMsg }}.
                </div>
                <div class="row">
                    <div class="col-sm-9">
                        <div class="form-group">
                            <label class="required-label">Título</label>
                            <input type="text"
                                   class="form-control"
                                   value="{{ editPackage.title }}"
                                   formControlName="title"
                                   [(ngModel)]="editPackage.title">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="required-label">Status</label>
                            <select class="form-control"
                                    formControlName="status_id"
                                    [(ngModel)]="editPackage.status_id">
                                <option [ngValue]="1">Ativo</option>
                                <option [ngValue]="0">Inativo</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-9">
                        <div class="form-group">
                            <div class="form-group">
                                <label class="required-label">Resumo do pacote / Descição curta</label>
                                <textarea rows="8"
                                          class="form-control"
                                          formControlName="short_description"
                                          [(ngModel)]="editPackage.short_description">
                                    {{ editPackage.short_description }}
                                </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 freeColumn">
                        <label class="required-label">A partir de</label>
                        <div class="input-group">
                            <div class="input-group-addon">R$</div>
                            <input type="text"
                                   class="form-control"
                                   placeholder="0000"
                                   value="{{ editPackage.value }}"
                                   formControlName="value"
                                   [(ngModel)]="editPackage.value">
                            <div class="input-group-addon">,00</div>
                        </div>
                        <br>
                        <label class="required-label blk">
                            Categorias
                        </label>
                        <button type="button"
                                class="btn btn-primary addCategories"
                                (click)="categoriesModal()">
                            Adicionar categorias
                        </button>
                        <div class="categoriesModal"
                             *ngIf="showModal">
                            <div class="content">
                                <div class="title">
                                    Gerenciar categorias
                                </div>
                                <div class="body">
                                    <ul class="toSelect">
                                        <li *ngFor="let category of categoriesToSelect"
                                            (click)="selectCategory(category)">
                                            <span *ngIf="category.parent != null">
                                                {{ category.parent }} -
                                            </span>
                                            <b>{{ category.title }}</b>
                                        </li>
                                    </ul>
                                    <label class="required-label blk">
                                        Categorias associadas
                                    </label>
                                    <ul class="selected">
                                        <li *ngFor="let selcategory of selectedCategories"
                                            (click)="removeSelectedCategory(selcategory)">
                                            <span *ngIf="selcategory.parent != null">
                                                {{ selcategory.parent }} -
                                            </span>
                                            <b>{{ selcategory.title }}</b>
                                            <a class="remove">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer">
                                    <button class="btn btn-success"
                                            (click)="categoriesModal()">
                                        Ok
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <label>Imagens</label>
                <div class="row">
                    <div class="col-sm-3"
                         *ngFor="let image of imagesSrc; let i = index;">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="image-content">
                                    <img [src]="image.src || 'http://placehold.it/470x350'"
                                         class="package-image">
                                </div>
                                <div class="form-group">
                                   <input type="file"
                                          class="form-control"
                                          accept="image/*"
                                          formControlName="src"
                                          (change)="previewImage($event, i)">
                                </div>
                                <button class="btn btn-primary blk center"
                                        type="button"
                                        (click)="deleteImage(i)"
                                        *ngIf="image.src != ''">
                                    Excluir
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <div class="form-group">
                    <label class="required-label">Descrição</label>
                    <editor apiKey="yjgt1z5mynyxw03me4v3keov8f4qx2f1y8dzwopelf9hipmo"
                            [init]="
                              {
                                theme: 'modern',
                                menubar: false,
                                height : '300',
                                block_formats: 'Paragraph=p;Header 1=h1;Header 2=h2;Header 3=h3',
                                font_formats: 'Arial=arial,helvetica,sans-serif;Courier New=courier new,courier,monospace;Helvetica=helvetica;Tahoma=tahoma,arial,helvetica,sans-serif;Trebuchet MS=trebuchet ms,geneva;Verdana=verdana,geneva;',
                                plugins: [
                                    'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
                                    'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
                                    'save table contextmenu directionality emoticons template paste textcolor'
                                ],
                                toolbar: 'formatselect | bold italic underline removeformat | fontselect fontsizeselect forecolor | alignleft aligncenter alignright alignjustify | table bullist numlist link image media preview code'
                              }
                            "
                            formControlName="description"
                            [(ngModel)]="editPackage.description">
                        {{ editPackage.description }}
                    </editor>
                </div>
                <button class="btn btn-success">
                    Salvar pacote
                </button>
                <button class="btn btn-danger"
                        (click)="cancel()">
                    Cancelar
                </button>
                </form>
            </div>
        </div>
    </div>
</div>
