<div class="container-fluid">
    <div class="row">
        <app-menu class="col-md-2 col-sm-1 no-padding all fixed-menu">
        </app-menu>
        <div class="col-md-10 col-sm-11 no-padding all fixed-content">
            <header class="main-header blk">
                <h1 class="in-blk">Pacotes</h1>
            </header>

            <div class="main-content">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="form-group">
                            <label class="required-label">Título</label>
                            <input type="text"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="required-label">Status</label>
                            <select class="form-control">
                                <option>Ativo</option>
                                <option>Inativo</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-9">
                        <div class="form-group">
                            <div class="form-group">
                                <label class="required-label">Resumo do pacote / Descição curta</label>
                                <textarea rows="8" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="required-label">A partir de</label>
                        <div class="input-group">
                            <div class="input-group-addon">R$</div>
                            <input type="text"
                                   class="form-control"
                                   placeholder="0000">
                            <div class="input-group-addon">,00</div>
                        </div>
                    </div>
                </div>

                <label>Imagens</label>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <img src="assets/img/banners/1.jpg"
                                     class="package-image">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="file" class="form-control">
                        </div>
                        <p class="blk">
                            <small>
                                Resolução ideal: 1920px x 1080px
                            </small>
                        </p>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <img src="assets/img/banners/2.jpg"
                                     class="package-image">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="file" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <img src="assets/img/banners/3.jpg"
                                     class="package-image">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="file" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <img src="assets/img/banners/1.jpg"
                                     class="package-image">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="file" class="form-control">
                        </div>
                    </div>
                </div>
                <br>

                <div class="form-group">
                    <label class="required-label">Descrição</label>
                    <editor apiKey="yjgt1z5mynyxw03me4v3keov8f4qx2f1y8dzwopelf9hipmo"
                            [init]="
                              {
                                theme: 'modern',
                                menubar: false,
                                height : '300',
                                block_formats: 'Paragraph=p;Header 1=h1;Header 2=h2;Header 3=h3',
                                font_formats: 'Arial=arial,helvetica,sans-serif;Courier New=courier new,courier,monospace;Helvetica=helvetica;Tahoma=tahoma,arial,helvetica,sans-serif;Trebuchet MS=trebuchet ms,geneva;Verdana=verdana,geneva;',
                                plugins: [
                                    'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
                                    'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
                                    'save table contextmenu directionality emoticons template paste textcolor'
                                ],
                                toolbar: 'formatselect | bold italic underline removeformat | fontselect fontsizeselect forecolor | alignleft aligncenter alignright alignjustify | table bullist numlist link image media preview code'
                              }
                            ">
                    </editor>
                </div>
                <button class="btn btn-success">
                    Salvar pacote
                </button>
            </div>
        </div>
    </div>
</div>
