.addpackage {
    width: 100%;
}

table {
    tr {
        td {
            vertical-align: middle;

            .table-content-image {
                width: 50px;
                height: 50px;
                border: 1px solid #AAA;
                border-radius: 50%;
                position: relative;

                img {
                    position: absolute;
                    max-width: 40px;
                    max-height: 40px;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                }
            }
        }
    }
}

form {
    .btn-danger {
        margin-left: 10px;
    }
    .addCategories {
        width: 100%;
    }
}

.package-image {
    width: 100%;
    margin-bottom: 15px;
}

.col-sm-3 .panel {
    position: relative;
    overflow: hidden;
}

.col-sm-3:first-child .panel:before {
    content: "Principal";
    font-family: Open Sans,sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: #337ab7;
    display: block;
    padding: 10px 0;
    width: 200px;
    position: absolute;
    top: 10px;
    left: 10px;
    transform: translate(-34%,36%) rotate(-45deg);
    z-index: 1;
}

.freeColumn {
    position: initial;
}

.categoriesModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;

    .content {
        position: absolute;
        width: 800px;
        height: 600px;
        background: #FFF;
        border-radius: 5px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.2);

        .title {
            font-size: 25px;
            padding: 15px 0px;
            width: 100%;
            border-bottom: 1px solid #CCC;
            text-align: center;
        }

        .body {
            width: 100%;
            padding: 30px;
            height: 468px;

            label {
                margin: 15px auto;
                text-align: center;
            }

            ul {
                margin: 0;
                list-style: none;
                overflow-y: scroll;
                height: 175px;
                border: 1px solid #DDD;

                li {
                    border-top: 1px solid #DDD;
                    padding: 9px;
                    text-align: center;
                    position: relative;

                    &:first-child {
                        border-top: 0;
                    }

                    &:last-child {
                        border-bottom: 1px solid #DDD;
                    }

                    &:hover {
                        cursor: pointer;
                    }

                    i {
                        position: absolute;
                        top: 0;
                        right: 15px;
                        bottom: 0;
                        margin: auto;
                        height: 17px;
                    }
                }
            }
        }

        .footer {
            padding: 15px 30px;
            display: inline-block;
            width: 100%;
            border-top: 1px solid #CCC;

            .btn {
                float: right;
            }
        }
    }
}
