<div class="container-fluid">
    <div class="row">
        <app-menu class="col-md-2 col-sm-1 no-padding all fixed-menu">
        </app-menu>
        <div class="col-md-10 col-sm-11 no-padding all fixed-content">
            <header class="main-header blk">
                <h1 class="in-blk">Categorias</h1>
            </header>

            <div class="main-content">
                <div class="row">
                    <div class="col-sm-8 col-md-8">
                        <div class="form-group">
                            <input type="text"
                                   class="form-control"
                                   [(ngModel)]="categoryFilter.title"
                                   placeholder="Buscar...">
                        </div>
                        <div class=""
                             *ngIf="!hasCategoriesToShow()">
                            <div class="alert alert-warning" role="alert">
                              <strong>Atenção!</strong>
                              Você ainda não possui nenhuma categorias.
                            </div>
                        </div>
                        <table class="table"
                               *ngIf="hasCategoriesToShow()">
                            <thead>
                                <tr>
                                    <th scope="col">Título</th>
                                    <th scope="col">Sequência</th>
                                    <th scope="col">Status</th>
                                    <th scope="col" width="50">Editar</th>
                                    <th scope="col" width="50">Excluir</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let category of categories | filterBy: categoryFilter">
                                <tr>
                                    <td>{{ category.title }}</td>
                                    <td>{{ category.sequence }}</td>
                                    <td>{{ category.status }}</td>
                                    <td class="text-center">
                                        <a (click)="edit(category.id, null)"
                                           class="edit">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        <a (click)="remove(category.id)"
                                           class="remove">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr *ngFor="let subs of category.subcategories"
                                    class="subCategory">
                                    <td>{{ subs.title }}</td>
                                    <td>{{ subs.sequence }}</td>
                                    <td>{{ subs.status }}</td>
                                    <td class="text-center">
                                        <a (click)="edit(subs.id, category.id)"
                                           class="edit">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        <a (click)="remove(subs.id)"
                                           class="remove">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Adicionar / Editar Categoria
                            </div>
                            <div class="panel-body">
                                <div *ngIf="errorMsg != null" class="alert alert-danger" role="alert">
                                    <strong>Whoops!</strong>
                                    {{ errorMsg }}.
                                </div>
                                <form [formGroup]="formCategory" (ngSubmit)="addUpdateCategory()">
                                    <div class="form-group">
                                        <label class="required-label">Título</label>
                                        <input type="text"
                                               class="form-control"
                                               value="{{ editCategory.title }}"
                                               formControlName="title"
                                               [(ngModel)]="editCategory.title">
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <div class="form-group">
                                                <label class="blk">
                                                    Sequência
                                                    <i class="tooltip-icon fa fa-question-circle">
                                                        <span>Deixe este campo vazio para adicionar ao final da lista</span>
                                                    </i>
                                                </label>
                                                <input type="number"
                                                       class="form-control"
                                                       min="0"
                                                       value="{{ editCategory.sequence }}"
                                                       formControlName="sequence"
                                                       [(ngModel)]="editCategory.sequence">
                                            </div>
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="form-group">
                                                <label class="required-label">Status</label>
                                                <select class="form-control"
                                                        formControlName="status_id"
                                                        [(ngModel)]="editCategory.status_id">
                                                    <option [ngValue]="1">Ativo</option>
                                                    <option [ngValue]="0">Inativo</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="required-label">Tipo</label>
                                        <select class="form-control"
                                                formControlName="type"
                                                [(ngModel)]="editCategory.type">
                                            <option value="0">Principal</option>
                                            <optgroup label="Filha de">
                                                <ng-container *ngFor="let category of categories">
                                                    <option *ngIf="editCategory.id != category.id"
                                                            [ngValue]="category.id">
                                                        {{ category.title }}
                                                    </option>
                                                </ng-container>
                                            </optgroup>
                                        </select>
                                    </div>
                                    <button type="submit"
                                            class="btn btn-success">
                                        Salvar categoria
                                    </button>
                                    <button type="button"
                                            class="btn btn-danger"
                                            *ngIf="editCategory.id"
                                            (click)="cancelEdition()">
                                        Cancelar
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
