<nav class="nav">
    <img src="assets/img/logo-icon.png"
         class="in-blk mid"
         alt="Logo Admin">
    <p class="in-blk mid">
        Olá {{ LoggedInUser }},<br>seja bem-vindo(a)!
        <a class="blk"
           *ngIf="auth.isLoggednIn()"
           (click)="auth.logout(LoggedInUser)">
            Logout
        </a>
    </p>
    <ul>
        <li class="blk">
            <a [routerLink]="['/']"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: true}"
               class="blk">
                <span>Dashboard</span>
            </a>
        </li>
        <li class="blk">
            <a [routerLink]="['/categorias']"
               routerLinkActive="active"
               class="blk">
                <span>Categorias</span>
            </a>
        </li>
        <li class="blk">
            <a [routerLink]="['/banners']"
               routerLinkActive="active"
               class="blk">
                <span>Banners</span>
            </a>
        </li>
        <li class="blk">
            <a [routerLink]="['/pacotes']"
               routerLinkActive="active"
               class="blk">
                <span>Pacotes</span>
            </a>
        </li>
    </ul>
</nav>
