<header class="main-header blk">
    <h1 class="in-blk">Banners</h1>
</header>

<div class="main-content">
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Banners</div>
                <div class="panel-body">
                    <div class="panel panel-default">
                        <div class="panel-body">
                          asdf
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                          asdf
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                          asdf
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Informações</div>
                <div class="panel-body">asdf</div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Preview</div>
                <div class="panel-body">asdf</div>
            </div>
        </div>
    </div>
</div>
