.banner-item {
    position: relative;

    img {
        max-width: 70%;
    }

    .action {
        position: absolute;
        top: 15px;
        right: 15px;
    }
}

.banner-preview {
    img {
        width: 100%;
    }
}

input[type=file] {
    padding: 10px;
    display: block;
    height: auto;
}
