<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-sm-1 no-padding all">
            <nav class="nav">
                <ul>
                    <li>
                        <a routerLink="">
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="categorias">
                            <span>Categorias</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="banners">
                            <span>Banners</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="pacotes">
                            <span>Pacotes</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-10 col-sm-11 no-padding all">
            dash
        </div>
    </div>
</div>
<router-outlet></router-outlet>
