.all {
    height: 100vh;
}

$colors: (
    primary: #249073,
    primary-light: lighten(#249073, 20%),
    primary-medium: darken(#249073, 18%),
    primary-dark: darken(#249073, 20%),
    primary-darkness: darken(#249073, 23%)
);

$main-font: 'Calibri';
$awesome: FontAwesome;

@function color($color-name) {
    @return map-get($colors, $color-name)
};

.fixed-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;

    .nav {
        height: 100%;
        background: color(primary-dark);

        img {
            width: 90px;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        ul {

            li {

                a {
                    padding: 20px;
                    font-size: 19px;
                    border-left: 5px solid color(primary-dark);
                    border-top: 1px solid color(primary-darkness);
                    border-bottom: 1px solid color(primary-darkness);

                    span {
                        color: #FFF;
                        font-family: $main-font;
                    }
                }
                a:hover {
                    border-left: 5px solid color(primary);
                    background: color(primary-medium);
                }
            }

            li:nth-child(1) {
                a {
                    border-top: 2px solid color(primary-darkness);

                    span:before {
                        content: "\f015";
                        font-family: $awesome;
                        font-size: 20px;
                        margin-right: 8px;
                        color: color(primary);
                        width: 22px;
                        display: inline-block;
                    }
                }
            }

            li:nth-child(2) {
                a {
                    span:before {
                        content: "\f0c9";
                        font-family: $awesome;
                        font-size: 20px;
                        margin-right: 8px;
                        color: color(primary);
                        width: 22px;
                        display: inline-block;
                    }
                }
            }

            li:nth-child(3) {
                a {
                    span:before {
                        content: "\f03e";
                        font-family: $awesome;
                        font-size: 20px;
                        margin-right: 8px;
                        color: color(primary);
                        width: 22px;
                        display: inline-block;
                    }
                }
            }

            li:nth-child(4) {
                a {
                    border-bottom: 2px solid color(primary-darkness);

                    span:before {
                        content: "\f041";
                        font-family: $awesome;
                        font-size: 20px;
                        margin-right: 8px;
                        color: color(primary);
                        width: 22px;
                        display: inline-block;
                    }
                }
            }

            li:last-child a {
                a {
                    bottom: 2px solid color(primary-darkness);

                    span:before {
                        content: "";
                        font-family: $main-font;
                    }
                }
            }
        }
    }
}

.fixed-content {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
}
