<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-sm-1 no-padding all fixed-menu">
            <nav class="nav">
                <img src="assets/img/logo-icon.png"
                     class="blk center"
                     alt="Logo Admin">
                <ul>
                    <li class="blk">
                        <a routerLink=""
                           routerLinkActive="active"
                           [routerLinkActiveOptions]="{exact: true}"
                           class="blk">
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="blk">
                        <a routerLink="categorias"
                           routerLinkActive="active"
                           class="blk">
                            <span>Categorias</span>
                        </a>
                    </li>
                    <li class="blk">
                        <a routerLink="banners"
                           routerLinkActive="active"
                           class="blk">
                            <span>Banners</span>
                        </a>
                    </li>
                    <li class="blk">
                        <a routerLink="pacotes"
                           routerLinkActive="active"
                           class="blk">
                            <span>Pacotes</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-10 col-sm-11 no-padding all fixed-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
