<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-sm-1 no-padding all">
            <nav class="nav">
                <img src="assets/img/logo-icon.png"
                     class="blk center"
                     alt="Logo Admin">
                <ul>
                    <li class="blk">
                        <a routerLink="" class="blk">
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="blk">
                        <a routerLink="categorias" class="blk">
                            <span>Categorias</span>
                        </a>
                    </li>
                    <li class="blk">
                        <a routerLink="banners" class="blk">
                            <span>Banners</span>
                        </a>
                    </li>
                    <li class="blk">
                        <a routerLink="pacotes" class="blk">
                            <span>Pacotes</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-10 col-sm-11 no-padding all">
            dash
        </div>
    </div>
</div>
<router-outlet></router-outlet>
