<div class="container-fluid">
    <div class="row">
        <app-menu class="col-md-2 col-sm-1 no-padding all fixed-menu">
        </app-menu>
        <div class="col-md-10 col-sm-11 no-padding all fixed-content">
            <header class="main-header blk" id="top">
                <h1 class="in-blk">Dashboard</h1>
            </header>
            <div class="main-content">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="178.231px" height="180.406px" viewBox="0 0 178.231 180.406"
                 xml:space="preserve" class="in-blk mid">
                    <g>
                        <path style="fill-rule:evenodd;clip-rule:evenodd;" d="M148.879,105.073c7.127-30.825-9.813-62.675-40.013-73.182l-0.27-0.087
                          l-5.273,15.504l0.087,0.037c20.664,7.19,32.854,28.008,30.154,49.135L148.879,105.073z M131.45,105.559
                          c-7.18,21.142-28.092,33.602-49.187,30.611l-8.547,15.578c30.792,7.731,62.879-9.563,73.392-40.485l0.176-0.531l-15.732-5.456
                          L131.45,105.559z M68.308,150.118l5.456-16.016c-20.913-7.295-33.144-28.551-30.012-49.953l-15.012-8.416
                          C20.852,106.912,37.777,139.423,68.308,150.118z M45.859,75.568c7.247-20.858,27.877-33.123,48.722-30.335l8.29-15.093
                          c-30.348-7.24-61.828,9.722-72.469,40.077L45.859,75.568z"/>
                        <polygon style="fill-rule:evenodd;clip-rule:evenodd;" points="88.729,90.144 119.427,0 107.075,79.293 	"/>
                        <polygon style="fill-rule:evenodd;clip-rule:evenodd;" points="88.729,90.144 57.996,180.406 70.382,100.992 	"/>
                        <polygon style="fill-rule:evenodd;clip-rule:evenodd;" points="89.261,90.321 178.231,121.15 99.942,108.845 	"/>
                        <polygon style="fill-rule:evenodd;clip-rule:evenodd;" points="89.261,90.321 0,59.387 78.565,71.783 	"/>
                    </g>
                </svg>
                <h3 class="blk dash-text in-blk mid">
                    “A vida não é medida <br>
                    pelo <b>número de vezes que respiramos</b>, <br>
                    mas pelos <b>lugares</b> e <b>momentos</b> <br>
                    capazes de <b>tirar nosso fôlego</b>.”
                </h3>
            </div>
        </div>
    </div>
</div>
