/* common */

* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.no-padding {
    padding: 0;
}

.blk {
    display: block;
}

.center {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.in-blk {
    display: inline-block;

    &.mid {
        vertical-align: middle;
    }

    &.top {
      vertical-align: top;
    }

    &.bot {
      vertical-align: bottom;
    }
}

/* components */

$main-font: 'Calibri';

.all {
    height: 100vh;
}

.fixed-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
}

.fixed-content {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
}

.main-header {
    width: 100%;
    background: #FFF;
    box-shadow: 0px 0px 50px 10px rgba(68,68,68,0.15);
    padding: 25px 30px;

    h1 {
        margin: 0;
        font-family: $main-font;
        color: #888;
        font-weight: 500;
    }
}

.main-content {
    margin: 50px 30px;
}

.required-label {

    &:after {
      content: '*';
      margin-left: 3px;
      color: #FF0000;
    }
}

.edit {
    color: #337ab7;
    font-size: 16px;
    line-height: 1;
}

.remove {
    color: #e45865;
    font-size: 17px;
    line-height: 1;
}

.edit:hover{
    cursor: pointer;
    color: #337ab7;
}

.remove:hover {
    cursor: pointer;
    color: #e45865;
}
